.jsloginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

label,
input[type="submit"] {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
}
#login-form {
    display: none;
}